<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1525711857929-4272fb4a040f?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <h1> <%= @list.name %></h1>
</div>

<div class="container">
  <div class="composants-show">
    <%= link_to "Back to my lists", root_path %>
  </div>
  <div class="parent">
    <% @bookmarks.each do |bookmark|%>
    <div class="cards" >
      <div class="movie-card">
         <img src= <%= bookmark.movie.poster_url%> alt="">
        <div class="movie-info">
          <p><strong><%= bookmark.movie.title %></strong></p>
          <p><%= bookmark.movie.rating %></p>
        </div>
        <div class="movie-overview">
          <p><%= bookmark.movie.overview %></p>
        </div>
        <div class="modification">
          <p><%= "'#{bookmark.comment}'" %></p>
          <%= link_to "Delete", bookmark_path(bookmark),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="container">
    <h4>New Movie</h4>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit %>
    <% end %>
</div>
